html{
    scroll-behavior: smooth;
    scroll-padding: var(scroll-pad + 50px); /* var is global hence can be set using JS file from outside*/
}
*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #f5f5f5;
    background-size: cover;
    background-position: center;
}
.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav{
    font-weight: 400;
    min-height: fit-content;
    width: 100%;
    background-color: #f5f5f5;
    font-size: 1rem;
    position: fixed;
    top: 0px;
    z-index:999;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
}

#navLogo{
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
    margin-right: 50%;
    margin-left: auto;
    padding: 8px;
    color: rgb(50, 135, 230);
}
a{
    color: rgb(50, 135, 230);

}
a.navBar-LinkElements{
    color: rgb(50, 135, 230);
    margin: auto;
    padding: 0px 8px;
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
}
a.navBar-LinkElements::after{
    content: "";
    position: absolute;
    background-color: rgb(50,135, 230);
    height: 3px;
    left: 0px;
    width: 0%;
    bottom:-10px;
    transition: 0.5s;
}
a.navBar-LinkElements:hover::after{
    width: 100%;
}

#nav-bar{
    justify-content:space-evenly;
    align-items:center;
    padding: 0.3rem;
}
#sidebar{
    z-index: 9999;
    position: fixed;
    display: none;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
    height: 100vh;
    width: 250px;
    box-shadow:-10px 0px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-transform: uppercase;
    backdrop-filter: blur(10px);
}
.sideBar-LinkElements{
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    padding: 15px 30px;
}
#hero-section{
    text-align: center;
    font-size: 4rem;
    position: relative;
    font-weight: 900;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    color: rgb(50, 135, 230);
    line-height: 1.5;
}


main{
    margin: 60px 0px 5px 0px;
}

h2{
    text-align: center;
    text-transform: capitalize;
    color: rgb(50, 135, 230);
}

h3{
    color: rgb(50, 135, 230);
}

img{
    border-radius: 5%;
    max-width:100% ;

}

.intro-work-tiles{
    min-height: 6rem;
    max-width: 6rem;
    padding: 5px;
    margin: auto;
    margin-top: 6rem;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    align-items: center;
    transition: box-shadow 0.5s ease-in;
}

.intro-work-tiles:hover{
    box-shadow: 0px 0px 5px 2px rgb(50,135, 230) ;
    
}

#intro-work-tiles{
    justify-content: space-evenly;
}

td{
    height: 2.5rem;
    width: auto;
    vertical-align:auto ;
    border: 2px solid transparent;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.05);
}

#innerDivOne{
    width: auto;
    padding: 2.5rem;
    flex-direction: column;
}

#innerDivTwo{
    width: auto;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
}

#about-Outer-Div{
    background-color: #ffffff;
    display: flex;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    margin: 3rem;
    padding: 2.5rem;
   
}

#flexDiv-testimony , #divProjects , #divBlog , #contact-me{
    margin: 3rem;
    padding: 2.5rem;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
}

.div-clientTestimony{
    justify-content: center;
}

#get-in-touch{
    width: 100%;
    line-height: 2;
    margin: 5px 5px 5px 5px;
    /* border: 1px solid black; */
}

#contact-me{
    display: flex;
    justify-content: space-between;
}

#contact-form{
    line-height: 2;
}
input{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7.5px;
    height: 5vh;
    width: 25vw;
    margin: 5px 5px 5px 5px;
}
textarea{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 7.5px;
    margin: 5px 5px 5px 5px;
    height: 25vh;
    width: 25vw;
}
button{
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
    margin: 0px 5px 5px 5px;
    height: 35px;
    width: 75px;
    border-radius: 10px;
}
.cName , .cMessage, .cSubject , .cMail{
    display: none;
    text-align: center;
    font-size: small;

}

.block{
    display: block;  
}
.invalid{
    color:red;
}
.articleMajor{
    min-height: 100vh;
}

footer{
    bottom: 0px;
    background-color: #0f1111;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.footerDiv-elements{
    color: white;
}
.menuBar{
    display: none;
}

/* || Media for Responsiveness */
@media screen and (max-width:1024px) {

    #navLogo{
        margin-right:45%;
        margin-left: auto;
        font-size: 1.5rem;
    }
    .navBar-LinkElements{
        font-size: small;
        margin: auto;
    }

    #contact-me{
        flex-direction: column;
        align-items:start;
    }
    input,textarea{
        width: 75vw ;
        margin-left: auto;
        margin-right: auto;
    }

    
}

@media screen and (max-width:768px) {
    .flex-container{
        flex-direction: column;
    }
    #nav-bar{
        flex-direction: row;
    }
    #navLogo{
        font-size: 1.5rem;
        margin-right:35% ;
        margin-left:auto ;
    }
    .navBar-LinkElements{
        font-size: small;
        margin: auto;
    }
    #intro-work-tiles{
        flex-direction: row;
    }
    .hideOnMobile{
        display: none;
    }
    .menuBar{
        display: block;
    }

}
@media screen and (max-width:425px) {

    #navLogo{
        font-size: 1.25rem;
        margin-right:auto ;
    }
    main{
        font-size:small;
    }
    #hero-section{
        font-size: 2rem;
    }
    .intro-work-tiles{
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
    #flexDiv-testimony , #divProjects , #divBlog , #contact-me{
        margin: 1rem;
        padding: 0.75rem;
    }
    #about-Outer-Div{
        margin: 1rem;
    }
    #sidebar{
        width:100%;
    }

}
@media screen and (max-width:375px) {
    main{
        font-size: smaller;
    }
    .intro-work-tiles{
        margin-right: 2.5px;
        margin-left: 2.5px;
    }
    #flexDiv-testimony , #divProjects , #divBlog , #contact-me{
        margin: 1.25rem;
        padding: 1rem;
    }
     /* .hideOnMobile{
        display: none;
    } */

}
@media screen and (max-width:320px) {
    #navLogo{
        font-size: 1rem;
    }
    #hero-section{
        font-size:1.75rem ;
    }
     /* .hideOnMobile{
        display: none;
    } */
}